@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 40px;
  height: 100vh;
}

.mainContainer {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.tipContainer {
  height: 24rem;
  width: 24rem;
}

.actions {
  height: 24rem;
  width: 24vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.buttons {
  display: grid;
  width: 24rem;
  place-content: center;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  & input {
    width: 6rem;
    font-size: 1rem;
    text-align: right;

    &::placeholder {
      color: hsl(186, 14%, 43%);
    }
  }
}

.customTip {
  width: 7.5rem;
  text-align: right;
  font-size: 1.5rem;
}

span {
  color: hsl(186, 14%, 43%);
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select {
  position: absolute;
  top: 6rem;
  left: 0.1rem;
  color: hsl(186, 14%, 43%);
}

@media screen and (max-width: 500px) {
  .mainContainer {
    margin-top: 4rem;
    padding: 1rem;
  }

  .buttons {
    display: grid;
    width: 22rem;
    place-content: center;
    gap: 1rem;
    grid-template-columns: repeat(2, auto);
    & input {
      width: 9rem;
      text-align: center;
    }
  }

  .tipContainer {
    height: fit-content;
    width: 21rem;
  }

  .select {
    top: 4.75rem;
    left: -3rem;
  }
}
